# .gitignore


# ----------
# R
# ----------

.Rproj.user
.Rhistory

.RData

.Ruserdata

rclass1.Rproj


# ----------
# TeX
# ----------

*.tex

# ----------
# MacOS
# ---------

*.DS_Store
.DS_Store
__MACOSX/
